<h2>My Heroes</h2>
<p-toast [style]="{ marginTop: '80px' }" position="top-center"></p-toast>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
    <!-- <p-toast
      position="center"
      key="c"
      (onClose)="onReject()"
      [modal]="true"
      [baseZIndex]="5000"
    >
      <ng-template let-message pTemplate="message">
        <div style="text-align: center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
          <h3>{{ message.summary }}</h3>
          <p>{{ message.detail }}</p>
        </div>
        <div class="ui-g ui-fluid">
          <div class="ui-g-6">
            <button
              type="button"
              pButton
              (click)="onConfirm(hero)"
              label="Yes"
              class="ui-button-success"
            ></button>
          </div>
          <div class="ui-g-6">
            <button
              type="button"
              pButton
              (click)="onReject()"
              label="No"
              class="ui-button-secondary"
            ></button>
          </div>
        </div>
      </ng-template>
    </p-toast> -->
    <button class="delete" title="delete" (click)="delete(hero)">
      x
    </button>
  </li>
</ul>

<div>
  <label>
    Hero name:
    <input #heroName />
  </label>
  <!-- (click) passed input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value = ''">
    add
  </button>
</div>
